.box {
  height: 100px;
  width: 50%;
}
.box1 {
  background-color: red;
  display: inline-block;
  padding: 10px 20px 30px 40px;
  margin: 20px 10px 30px 20px;

}
.box2 {
  background-color: pink;
  display: inline-block;
  padding: 10px 20px 30px 50px;
  margin: 10px 20px 30px 40px;
}
.box3 {
  background-color: green;
  display: inline-block;
  padding: 10px 20px 40px 30px;
  margin: 10px 30px 20px 40px;
}
.box4 {
  background-color: blue;
  display: inline-block;
  padding: 20px 10px 30px 40px;
  margin: 30px 20px 40px 10px;
  box-sizing: border-box;
}