.box {
  height: 100px;
  width: 50%;
  display: inline-block;
}
.box-1 {
  background-color: red;
  padding: 10px 20px 30px 40px;
  margin: 20px 10px 30px 20px;
  color: white;
}

.box-2 {
  background-color: pink;
  padding: 10px 20px 30px 50px;
  margin: 10px 20px 30px 40px;
  color: black;
}

.box-3 {
  background-color: green;
  padding: 10px 20px 40px 30px;
  margin: 10px 30px 20px 40px;
  color: white;
}

.box-4 {
  background-color: blue;
  padding: 20px 10px 30px 40px;
  margin: 30px 20px 40px 10px;
  box-sizing: border-box;
  color: white;
}
.container {
  border: 1px solid;
  max-width: 600px;
  width: 100px;
}